@charset "UTF-8";

@media screen and (min-width=768px) {
    * {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(134, 116, 37);
}

main {
    background: white url(../imagens/gustavo-normal-redimensionada.jpeg) no-repeat;
    background-size: cover;
    width: 800px;
    height: 91vh;
    margin: auto;
}

h1, h2, h3 {
    text-align: center;
    padding: 30px 0px;
}

p, ul {
    font-size: 1.3em;
    text-align: justify;
    text-indent: 20px;
    padding: 30px;
}

li {
    list-style-type: disc;
    padding: 10px 10px 10px 0px;
    list-style-position: inside;
}

footer {
    background-color: black;
    padding-bottom: 5px;
}

footer > p {
    color: white;
    text-align: center;
}

ul > li > a {
    font-size: 1.3em;
    text-decoration: none;
}

ul > li > a:hover {
    text-decoration: underline;
}
}